body{
    background-color: rgb(232, 243, 245);
}

#loadContentButton{
    font-size: 30px;
    background-color: rgb(209, 237, 241);
    border-radius: 30px;
}

#films-table{
    margin-left: auto;
    margin-right: auto;
}

.th{
    font-size: 30px;
}

#films-table {
    background-color: rgb(243, 246, 248);
}

input[type="submit"], button {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin-right: 200px;
}

label {
    display: flex;
    justify-content: space-between;
    background-color: seashell;
    
}

.btn-add{
    background-color: rgb(191, 229, 241);
  
   
    
}


    
